.brand-centered {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
}
.navbar-brand-desktop {
  display: flex;
  align-items: center;
}

.navbar-brand {
    display: none;
}

.navbar-default a {
    font-weight: 700;
}

div.background-image-holder {
    filter: brightness(65%);
}

.blog-snippet-1 h5 u {
  text-decoration: none;
  border-bottom: 4px solid black;
}

.leftalign {
  text-align: left;
}

.rightalign {
  text-align: right;
  float: right;
}

header h3.text-white {
    margin-bottom: 40px;
}

.navbar-default .navbar-nav>li>a:hover, .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
        color: #f30;
    }

    .navbar-nav>li>a.btn {
        color: white;
    }

    .navbar-nav>li>a.btn:hover {
        background-color: #f30;
        color: #333;   
    }

    :not(.index-header).page-header {
      padding: 160px 0px 90px 0px;
    }

  @media (min-width: 992px) {
  .index-bottom-cta {
    display: flex;
  }
}

@media only screen and (min-width: 768px) {

    .navbar-default {
        background-color: rgba(0, 0, 0, 0);
        border-color: rgba(0, 0, 0, 0);
    }

    .navbar-default .navbar-nav > li > a {
        color: white;
        padding: 15px 20px;
    }

    #navbar {
        padding-top: 10px;
    }

    .navbar-right li a {
        font-size: 18px;
        color: white;
        line-height: 20px;
    }

    .top-bar.nav-sticky .menu li a.booknow-nav {
    padding: 10px;
    }
}

@media (max-width: 768px) {
  footer div.row div {
    text-align: center !important;
    margin-bottom: 20px;
  }

  footer div.row div span, footer div.row div ul {
    font-size: 14px;
  }
}

@media only screen and (min-width: 1200px) {
    .background-image-holder.parallax-background {
        height: 120%;
        top: -5%;
    }
}

@media only screen and (min-width: 1600px) {
    .background-image-holder.parallax-background {
        height: 140%;
        top: -5%;
    }
}

@media only screen and (max-width: 1020px) {
    .navbar-right li a.telephone {
        display: none;
    }
}

@media only screen and (max-width: 990px) {
    .page-header {
        padding-top: 200px;
        padding-bottom: 115px;
    }

    .background-image-holder.parallax-background {
        height: 115%;
        top: -8%;
    }

    header h3.text-white {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 767px) {
  header.page-header {
    margin-top: 50px;
  }
    .navbar-brand-desktop {
        display: none;
    }

    .navbar-brand {
        display: initial;
    }

    .navbar-right li.rightalign {
        float: initial;
        text-align: initial;
    }

    .background-image-holder.parallax-background {
        height: 110%;
        top: 0%;
    }

    .navbar-nav>li>a {
        width: 80px;
    }

    .navbar-brand {
    color: #f30 !important;
    font-family: "Gochi Hand","Helvetica Neue",Helvetica,Arial,cursive;
    font-size: 28px;
    padding: 18px 15px;
}

.navbar-default .navbar-nav>li>a, .navbar-nav .open .dropdown-menu>li>a  {
    color: #fff !important;
}

.navbar-default .navbar-toggle {
    border-color: #f30;
    border-width: 2px;

}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #f30;
}

.navbar-default {
  background-color: rgb(20, 20, 20);
    border-color: rgb(30, 30, 30);
}
}

:not(.index-header) .background-image-holder.parallax-background {
    top: -15%;
}

.dark-nav {
     background-color: rgba(20, 20, 20, 0.8);
    border-color: rgba(30, 30, 30, 0.8);
    height: 70px;
}

#smoothbar{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* Portfolio section (Reviews) */

#portfolio .portfolio-item {
  margin: 0 0 15px;
  right: 0;
}
#portfolio .portfolio-item .portfolio-link {
  display: block;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: rgba(255, 51, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all ease 0.5s;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover:hover {
  opacity: 1;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  position: absolute;
  width: 100%;
  height: 20px;
  font-size: 20px;
  text-align: center;
  top: 50%;
  margin-top: -12px;
  color: white;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  background-color: white;
  text-align: center;
  padding: 25px;
}
#portfolio .portfolio-item .portfolio-caption h4 {
  text-transform: none;
  margin: 0;
}
#portfolio .portfolio-item .portfolio-caption p {
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 14px;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption p.click-more {
  color: #ff3300;
  font-weight: bold;
  font-style: normal;
}

i.fa-star {
  color: #ff3300;
}

#portfolio * {
  z-index: 2;
}
@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }

  
}

@media (min-width: 992px) {
    .portfolio-row {
      display: flex;
  }

  #portfolio .portfolio-item {
    display: flex;
  }
}

h1.standard {
    margin-bottom: 0px;
}

h2.standard {
    margin-bottom: 48px;
}

section h1.section-heading {
  margin-top: 0;
  margin-bottom: 10px;
}
section h3.section-subheading {
  font-size: 16px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: none;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 35px;
}

.portfolio-modal .modal-dialog {
  margin: 0;
  height: 100%;
  width: auto;
}
.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  text-align: center;
}

.portfolio-modal :not(.blog-snippet-1).modal-content {
  padding: 100px 0;
}
.portfolio-modal .modal-content h2 {
  margin-bottom: 15px;
  font-size: 3em;
}
.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}
.portfolio-modal .modal-content p.item-intro {
  margin: 20px 0 30px;
  font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: italic;
  font-size: 16px;
}
.portfolio-modal .modal-content ul.list-inline {
  margin-bottom: 30px;
  margin-top: 0;
}
.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 75px;
  width: 1px;
  margin-left: 35px;
  background-color: #222222;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 75px;
  width: 1px;
  background-color: #222222;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}



      /* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -184px;
        background-color: #f4f4f4;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 184px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      .ad-row>div>div {
        padding: 20px 0px;
      }

      .be-a-pal h3 {
        font-size: 24px;
      }

      @media (min-width: 991px) and (max-width: 1330px) {
        .be-a-pal h3 {
        font-size: 17px;
      }
      }

      .feature-box.service {
        padding: 80px 40px 90px 40px;
        min-height: 200px;
      }

      .feature-box.cities h3 {
        margin-bottom: 150px;
      }

      @media (min-width: 910px) {
        .feature-box.cities .background-image-holder {
          height: 160%;
        }
      }

      @media (max-width: 768px) {
        .background-image-holder.parallax-background.cities {
          width: 160%;
          left: -28%;
          top: -18%;
        }
      }

      .trucke-pals h4, .trucke-pals h1, .trucke-pals img {
        margin-bottom: 15px;
      }

      .trucke-pals img {
        filter: brightness(85%);
        width: 400px;        
      }

      div.the-map {
        position: relative;
      }

      img.us-map {
        width: 700px;
        height: 400px;
      }

      img.map-spot {
        position: absolute;
        width: 45px;
        right: 575px;
        top: 300px;
      }

      @media (max-width: 1200px) {
        img.map-spot {
          right: 478px;
        }
      }

      @media (max-width: 991px) {
        img.map-spot {
          right: 365px;
        }
      }

      .trucke-pals p,{
        max-width: 100%;
      }

      .trucke-pals .row div {
        padding: 20px 15px;
      }

      div.question {
        margin-bottom: 40px;
      }

      ul.faq {
        padding-left: 20px;
      }

      ul.square {
        list-style-type: square;
      }

.inline-image-right ul span {
    float: left;
    margin: -3px 10px 0 0;
    background: #232120;
    color: #fff;
    padding: 3px 10px 3px;
    border-radius: 50%;
    font-size: 14px;
    font-weight: bold;
}

.inline-image-right h2 {
  margin-bottom: 20px;
}

.inline-image-right ul li {
  margin-bottom: 15px;
}